### Reference Structure ###

data/datasets/*
!data/datasets/.gitkeep
# !data/datasets/balcescu_test.gitkeep

#.github/

.github/TODO.md

# data/configs/*
# !data/configs/config.yaml.gitkeep

data/output/*
!data/output/.gitkeep

#data/inference/*
# !data/inference/.gitkeep
# !data/inference/Balcescu.pdf.gitkeep
# !data/inference/Balcescu.png.gitkeep
# !data/inference/test_image.png.gitkeep

*.pt
*.safetensors

data/generation/data/input/*
!data/generation/data/input/.gitkeep

data/generation/data/output/*
!data/generation/data/output/.gitkeep

data/generation/assets/backgrounds/*
!data/generation/assets/backgrounds/.gitkeep

data/generation/assets/fonts/combined

### General Ignores ###

# Ignore operating system files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*~

# Ignore node modules and dependency folders
node_modules/
bower_components/

# Ignore log files and temp files
# *.log
*.tmp
*.temp
*.out
*.pid
*.seed
*.gz
*.zip
*.tar

# Ignore build output
/dist/
/build/
/tmp/
/cache/
*.obj
*.exe
*.dll
*.so
*.dylib
*.class
*.o
*.a
*.pyc
*.pyo
*.pdb

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.iml

# Ignore environment-specific files
.env
.env.*
*.env.local

# Ignore version control-related files
*.orig
*.rej

# Ignore miscellaneous
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Java-specific ignores
*.class
*.jar
*.war
*.ear

# Ruby-specific ignores
*.gem
*.rbc
gemfile.lock

# Go-specific ignores
*.exe
*.test

# C/C++ specific ignores
*.obj
*.exe
*.out
*.dll
*.so
*.dylib
*.a
*.lib

# JavaScript/TypeScript-specific ignores
*.tsbuildinfo

# Ignore macOS-specific files
.AppleDouble
.LSOverride
._*

# Ignore AWS credential files
.aws/

# Ignore by default
*~
